extends partials/layout.pug

block content
	.welcome
		h1 All about my Oreo Pizzas
	.welcome
		p.
			I take a bunch of different flavors of Oreos and crunch them up into toppings. Usually placed over light bread base and a whole bunch of sugary icing that matches the filling color.
